<h1>メッセージ一覧</h1>
    <ul>
	    <% @todos.each do |todo| %>
		<li><%= link_to todo.id, todo %> : <%= todo.thing %>&gt; <%= todo.memo %></li>
	    <% end %>
    </ul>
    <%= paginate @todos.per(10) %>
<%= link_to '新規メッセージの投稿', new_todo_path %>
